In [176]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import LabelEncoder

In [177]:
train = pd.read_csv('train.csv')
result = pd.read_csv('gender_submission.csv')
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [178]:
#dropping columns Cabin, Name, Ticket
train = train.drop('Cabin',1).drop('Ticket',1)
#train.head()

In [183]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [182]:
#Filling the NAN of age with average age of respective class using ('Mr','Mrs','Master','Miss') in the given candidates name
#Average Mr. Age is 32, 32
#Average Mrs. Age is 38.9, 36
#Average Master Age is 7.4,4.57
#Average Miss Age is 21.77 , 21.77
#Dr is 35
for i in range(train.shape[0]):
    if 'Master' in train['Name'][i] and np.isnan(train['Age'][i]):
        train.loc[i,'Age'] = 4 #should be based on the working of the model
        #test['Age'][i] = 7.5 
    elif 'Miss' in train['Name'][i] and np.isnan(train['Age'][i]):
        train.loc[i,'Age'] = 22 #should be based on the working of the model
    elif 'Mr.' in train['Name'][i] and np.isnan(train['Age'][i]):
        train.loc[i,'Age'] = 32 #should be based on the working of the model
    elif 'Mrs.' in train['Name'][i] and np.isnan(train['Age'][i]):
        train.loc[i,'Age'] = 36 #should be based on the working of the model
    elif 'Dr.' in train['Name'][i] and np.isnan(train['Age'][i]):
        train.loc[i,'Age'] = 35 #should be based on the working of the model    
            #test['Age'][i] = 18

In [194]:
#sum(np.isnan(train['Age'])
    
#null_data = train[train.isnull().any(axis=1)]
#print(null_data)

In [149]:
merged = pd.merge(test,result,how = 'left',on = 'PassengerId')
merged = merged.drop('PassengerId',1)
train1 = merged.drop('Survived',1)
result = merged['Survived']
print(train1.head())

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [147]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,
                         hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(train,result)

ValueError: could not convert string to float: 'C'

In [ ]:
test =