### Views and Copies

In [1]:
import numpy as np

In [13]:
mi_casa = np.array([12,32,21,54,0,-1])

In [14]:
su_casa = mi_casa

### same or different

In [15]:
mi_casa is su_casa

True

In [16]:
id(mi_casa) == id(su_casa)

True

In [17]:
 mi_casa == su_casa

array([ True,  True,  True,  True,  True,  True], dtype=bool)

In [18]:
su_casa[3] = 11

In [19]:
mi_casa == su_casa

array([ True,  True,  True,  True,  True,  True], dtype=bool)

In [21]:
tree_house = np.array([12,32,21,54,0,-1])

In [22]:
tree_house == su_casa

array([ True,  True,  True, False,  True,  True], dtype=bool)

In [23]:
id(su_casa) == id(tree_house)

False

### View a shallow copy

In [28]:
tree_house = np.array([12,32,21,54,0,-1,12,14])
farm_house = tree_house.view()

In [29]:
farm_house.shape = (2,4)

In [30]:
tree_house

array([12, 32, 21, 54,  0, -1, 12, 14])

In [31]:
farm_house

array([[12, 32, 21, 54],
       [ 0, -1, 12, 14]])

In [32]:
tree_house[2] = 121

In [33]:
tree_house

array([ 12,  32, 121,  54,   0,  -1,  12,  14])

In [34]:
farm_house

array([[ 12,  32, 121,  54],
       [  0,  -1,  12,  14]])

In [35]:
tree_house is farm_house

False

In [36]:
id(tree_house) == id(farm_house)

False

In [37]:
id(tree_house)

2170642303696

In [38]:
id(farm_house)

2170642304896

### Deep Copy

In [39]:
dog_house = np.copy(tree_house)
dog_house[0] = -11
dog_house

array([-11,  32, 121,  54,   0,  -1,  12,  14])

In [40]:
tree_house

array([ 12,  32, 121,  54,   0,  -1,  12,  14])

### Attributes of NumPy Arrays
- Number of dimensions
- shape
- size (number of elements)
- data type for elements
- item size for each element within an array
- type (for the array; not for elements within array)

In [42]:
a = np.arange(24).reshape((2,3,4))
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [43]:
a.ndim

3

In [44]:
a.shape

(2, 3, 4)

In [45]:
a.size

24

In [46]:
a.dtype

dtype('int32')

In [47]:
a.itemsize

4

In [48]:
type(a)

numpy.ndarray

# Adding and Removing Elements from NumPy Arrays
- append
- horizontal stacking
- vertical stacking
- insert
- delete

In [49]:
b=np.append(a, [5,6,7,8])

In [51]:
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [52]:
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23,  5,  6,  7,  8])

In [53]:
b.shape

(28,)

In [54]:
b.reshape(7,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [ 5,  6,  7,  8]])

In [55]:
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [56]:
c = np.array(np.arange(24)).reshape(2,3,4) * 10 + 3
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [57]:
np.append(a,c,axis=0)

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23]],

       [[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [58]:
np.append(a,c,axis=0).shape

(4, 3, 4)

In [59]:
np.append(a,c,axis=1)

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11],
        [  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23],
        [123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [60]:
np.append(a,c,axis=1).shape

(2, 6, 4)

In [61]:
np.append(a,c,axis=2)

array([[[  0,   1,   2,   3,   3,  13,  23,  33],
        [  4,   5,   6,   7,  43,  53,  63,  73],
        [  8,   9,  10,  11,  83,  93, 103, 113]],

       [[ 12,  13,  14,  15, 123, 133, 143, 153],
        [ 16,  17,  18,  19, 163, 173, 183, 193],
        [ 20,  21,  22,  23, 203, 213, 223, 233]]])

In [62]:
hay_stack = np.hstack((a,c))
hay_stack

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11],
        [  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23],
        [123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [63]:
hay_stack[0,1,1] = 99

In [64]:
hay_stack

array([[[  0,   1,   2,   3],
        [  4,  99,   6,   7],
        [  8,   9,  10,  11],
        [  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18,  19],
        [ 20,  21,  22,  23],
        [123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [65]:
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [66]:
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [68]:
new_c = np.insert(c,1,444,axis=0)
new_c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[444, 444, 444, 444],
        [444, 444, 444, 444],
        [444, 444, 444, 444]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [69]:
c

array([[[  3,  13,  23,  33],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [70]:
new_c = np.insert(c,1,444,axis=1)
new_c

array([[[  3,  13,  23,  33],
        [444, 444, 444, 444],
        [ 43,  53,  63,  73],
        [ 83,  93, 103, 113]],

       [[123, 133, 143, 153],
        [444, 444, 444, 444],
        [163, 173, 183, 193],
        [203, 213, 223, 233]]])

In [71]:
new_c = np.insert(c,1,444,axis=2)
new_c

array([[[  3, 444,  13,  23,  33],
        [ 43, 444,  53,  63,  73],
        [ 83, 444,  93, 103, 113]],

       [[123, 444, 133, 143, 153],
        [163, 444, 173, 183, 193],
        [203, 444, 213, 223, 233]]])

In [75]:
d = np.empty(c.shape)
d

array([[[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]],

       [[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]]])

In [76]:
np.copyto(d,c)
d

array([[[   3.,   13.,   23.,   33.],
        [  43.,   53.,   63.,   73.],
        [  83.,   93.,  103.,  113.]],

       [[ 123.,  133.,  143.,  153.],
        [ 163.,  173.,  183.,  193.],
        [ 203.,  213.,  223.,  233.]]])

In [77]:
np.delete(d,1,axis=0)

array([[[   3.,   13.,   23.,   33.],
        [  43.,   53.,   63.,   73.],
        [  83.,   93.,  103.,  113.]]])

In [78]:
np.delete(d,1,axis=1)

array([[[   3.,   13.,   23.,   33.],
        [  83.,   93.,  103.,  113.]],

       [[ 123.,  133.,  143.,  153.],
        [ 203.,  213.,  223.,  233.]]])

In [79]:
np.delete(d,1,axis=2)

array([[[   3.,   23.,   33.],
        [  43.,   63.,   73.],
        [  83.,  103.,  113.]],

       [[ 123.,  143.,  153.],
        [ 163.,  183.,  193.],
        [ 203.,  223.,  233.]]])

# Joining and Splitting arrays
- concatenate
- stack
- split

In [80]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])
a

array([[1, 2],
       [3, 4]])

In [81]:
b

array([[5, 6]])

In [83]:
conc = np.concatenate((a,b))
conc

array([[1, 2],
       [3, 4],
       [5, 6]])

In [84]:
conc.shape

(3, 2)

In [85]:
conc[1,1] = 12

In [86]:
conc

array([[ 1,  2],
       [ 3, 12],
       [ 5,  6]])

In [87]:
a

array([[1, 2],
       [3, 4]])

In [90]:
conc = np.concatenate((a,a),axis = 1)
conc

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

# Stack

In [91]:
arrays = np.zeros((5,3,4))
for n in range(5):
    arrays[n] = np.random.randn(3, 4)
    
arrays

array([[[-0.13280841, -0.76963233, -0.57346298,  1.21855522],
        [ 0.04304932, -1.02305122, -0.49037003, -1.33317966],
        [-0.82547758, -0.52428722,  0.69107093,  0.53354706]],

       [[ 1.93335113, -0.28148002,  0.00890011,  1.69570359],
        [-0.75262702,  0.22217613,  2.1701087 ,  0.82174343],
        [-0.04894378, -1.05634028, -0.36926689, -0.30886484]],

       [[-0.77744249,  1.57527365,  0.75044624,  1.00284803],
        [-0.69171939,  0.05140942, -2.42522924, -0.59460313],
        [-0.68931802, -0.70540164,  0.19519823,  1.00901739]],

       [[ 0.84892815,  0.19500596,  0.77645437,  0.09815269],
        [-0.26714157,  1.36315078,  0.42392494, -1.32789403],
        [-0.603166  ,  0.47275635, -2.11484579, -1.06333181]],

       [[-1.83191584, -0.43917389,  0.50369253,  0.89380766],
        [ 0.11159055,  0.19088028, -0.6580712 , -1.0862185 ],
        [-0.48931409, -0.3544884 , -0.57820203, -0.229764  ]]])

In [96]:
stack0 = np.stack(arrays, axis=0)
stack1 = np.stack(arrays, axis=1)
stack2 = np.stack(arrays, axis=2)

In [98]:
print(stack0)
print(arrays.shape)

[[[-0.13280841 -0.76963233 -0.57346298  1.21855522]
  [ 0.04304932 -1.02305122 -0.49037003 -1.33317966]
  [-0.82547758 -0.52428722  0.69107093  0.53354706]]

 [[ 1.93335113 -0.28148002  0.00890011  1.69570359]
  [-0.75262702  0.22217613  2.1701087   0.82174343]
  [-0.04894378 -1.05634028 -0.36926689 -0.30886484]]

 [[-0.77744249  1.57527365  0.75044624  1.00284803]
  [-0.69171939  0.05140942 -2.42522924 -0.59460313]
  [-0.68931802 -0.70540164  0.19519823  1.00901739]]

 [[ 0.84892815  0.19500596  0.77645437  0.09815269]
  [-0.26714157  1.36315078  0.42392494 -1.32789403]
  [-0.603166    0.47275635 -2.11484579 -1.06333181]]

 [[-1.83191584 -0.43917389  0.50369253  0.89380766]
  [ 0.11159055  0.19088028 -0.6580712  -1.0862185 ]
  [-0.48931409 -0.3544884  -0.57820203 -0.229764  ]]]
(5, 3, 4)

In [94]:
stack1

array([[[-0.13280841, -0.76963233, -0.57346298,  1.21855522],
        [ 1.93335113, -0.28148002,  0.00890011,  1.69570359],
        [-0.77744249,  1.57527365,  0.75044624,  1.00284803],
        [ 0.84892815,  0.19500596,  0.77645437,  0.09815269],
        [-1.83191584, -0.43917389,  0.50369253,  0.89380766]],

       [[ 0.04304932, -1.02305122, -0.49037003, -1.33317966],
        [-0.75262702,  0.22217613,  2.1701087 ,  0.82174343],
        [-0.69171939,  0.05140942, -2.42522924, -0.59460313],
        [-0.26714157,  1.36315078,  0.42392494, -1.32789403],
        [ 0.11159055,  0.19088028, -0.6580712 , -1.0862185 ]],

       [[-0.82547758, -0.52428722,  0.69107093,  0.53354706],
        [-0.04894378, -1.05634028, -0.36926689, -0.30886484],
        [-0.68931802, -0.70540164,  0.19519823,  1.00901739],
        [-0.603166  ,  0.47275635, -2.11484579, -1.06333181],
        [-0.48931409, -0.3544884 , -0.57820203, -0.229764  ]]])

In [95]:
stack2

array([[[-0.13280841,  1.93335113, -0.77744249,  0.84892815, -1.83191584],
        [-0.76963233, -0.28148002,  1.57527365,  0.19500596, -0.43917389],
        [-0.57346298,  0.00890011,  0.75044624,  0.77645437,  0.50369253],
        [ 1.21855522,  1.69570359,  1.00284803,  0.09815269,  0.89380766]],

       [[ 0.04304932, -0.75262702, -0.69171939, -0.26714157,  0.11159055],
        [-1.02305122,  0.22217613,  0.05140942,  1.36315078,  0.19088028],
        [-0.49037003,  2.1701087 , -2.42522924,  0.42392494, -0.6580712 ],
        [-1.33317966,  0.82174343, -0.59460313, -1.32789403, -1.0862185 ]],

       [[-0.82547758, -0.04894378, -0.68931802, -0.603166  , -0.48931409],
        [-0.52428722, -1.05634028, -0.70540164,  0.47275635, -0.3544884 ],
        [ 0.69107093, -0.36926689,  0.19519823, -2.11484579, -0.57820203],
        [ 0.53354706, -0.30886484,  1.00901739, -1.06333181, -0.229764  ]]])

# Split

In [100]:
temp = np.arange(5)
temp

array([0, 1, 2, 3, 4])

In [101]:
 np.split(temp,1)

[array([0, 1, 2, 3, 4])]

In [102]:
before_split = stack0

In [103]:
before_split.shape

(5, 3, 4)

In [105]:
before_split

array([[[-0.13280841, -0.76963233, -0.57346298,  1.21855522],
        [ 0.04304932, -1.02305122, -0.49037003, -1.33317966],
        [-0.82547758, -0.52428722,  0.69107093,  0.53354706]],

       [[ 1.93335113, -0.28148002,  0.00890011,  1.69570359],
        [-0.75262702,  0.22217613,  2.1701087 ,  0.82174343],
        [-0.04894378, -1.05634028, -0.36926689, -0.30886484]],

       [[-0.77744249,  1.57527365,  0.75044624,  1.00284803],
        [-0.69171939,  0.05140942, -2.42522924, -0.59460313],
        [-0.68931802, -0.70540164,  0.19519823,  1.00901739]],

       [[ 0.84892815,  0.19500596,  0.77645437,  0.09815269],
        [-0.26714157,  1.36315078,  0.42392494, -1.32789403],
        [-0.603166  ,  0.47275635, -2.11484579, -1.06333181]],

       [[-1.83191584, -0.43917389,  0.50369253,  0.89380766],
        [ 0.11159055,  0.19088028, -0.6580712 , -1.0862185 ],
        [-0.48931409, -0.3544884 , -0.57820203, -0.229764  ]]])

In [104]:
s0 = np.split(before_split, 5, axis=0)
s0

[array([[[-0.13280841, -0.76963233, -0.57346298,  1.21855522],
         [ 0.04304932, -1.02305122, -0.49037003, -1.33317966],
         [-0.82547758, -0.52428722,  0.69107093,  0.53354706]]]),
 array([[[ 1.93335113, -0.28148002,  0.00890011,  1.69570359],
         [-0.75262702,  0.22217613,  2.1701087 ,  0.82174343],
         [-0.04894378, -1.05634028, -0.36926689, -0.30886484]]]),
 array([[[-0.77744249,  1.57527365,  0.75044624,  1.00284803],
         [-0.69171939,  0.05140942, -2.42522924, -0.59460313],
         [-0.68931802, -0.70540164,  0.19519823,  1.00901739]]]),
 array([[[ 0.84892815,  0.19500596,  0.77645437,  0.09815269],
         [-0.26714157,  1.36315078,  0.42392494, -1.32789403],
         [-0.603166  ,  0.47275635, -2.11484579, -1.06333181]]]),
 array([[[-1.83191584, -0.43917389,  0.50369253,  0.89380766],
         [ 0.11159055,  0.19088028, -0.6580712 , -1.0862185 ],
         [-0.48931409, -0.3544884 , -0.57820203, -0.229764  ]]])]

In [106]:
type(s0)

list

In [107]:
type(before_split)

numpy.ndarray

In [108]:
s0[1].shape

(1, 3, 4)

In [109]:
s0[1]

array([[[ 1.93335113, -0.28148002,  0.00890011,  1.69570359],
        [-0.75262702,  0.22217613,  2.1701087 ,  0.82174343],
        [-0.04894378, -1.05634028, -0.36926689, -0.30886484]]])

In [110]:
s1 = np.split(before_split,3,axis=1)
s1

[array([[[-0.13280841, -0.76963233, -0.57346298,  1.21855522]],

        [[ 1.93335113, -0.28148002,  0.00890011,  1.69570359]],

        [[-0.77744249,  1.57527365,  0.75044624,  1.00284803]],

        [[ 0.84892815,  0.19500596,  0.77645437,  0.09815269]],

        [[-1.83191584, -0.43917389,  0.50369253,  0.89380766]]]),
 array([[[ 0.04304932, -1.02305122, -0.49037003, -1.33317966]],

        [[-0.75262702,  0.22217613,  2.1701087 ,  0.82174343]],

        [[-0.69171939,  0.05140942, -2.42522924, -0.59460313]],

        [[-0.26714157,  1.36315078,  0.42392494, -1.32789403]],

        [[ 0.11159055,  0.19088028, -0.6580712 , -1.0862185 ]]]),
 array([[[-0.82547758, -0.52428722,  0.69107093,  0.53354706]],

        [[-0.04894378, -1.05634028, -0.36926689, -0.30886484]],

        [[-0.68931802, -0.70540164,  0.19519823,  1.00901739]],

        [[-0.603166  ,  0.47275635, -2.11484579, -1.06333181]],

        [[-0.48931409, -0.3544884 , -0.57820203, -0.229764  ]]])]

In [113]:
s2 = np.split(before_split,4,axis=2)
s2

[array([[[-0.13280841],
         [ 0.04304932],
         [-0.82547758]],

        [[ 1.93335113],
         [-0.75262702],
         [-0.04894378]],

        [[-0.77744249],
         [-0.69171939],
         [-0.68931802]],

        [[ 0.84892815],
         [-0.26714157],
         [-0.603166  ]],

        [[-1.83191584],
         [ 0.11159055],
         [-0.48931409]]]), array([[[-0.76963233],
         [-1.02305122],
         [-0.52428722]],

        [[-0.28148002],
         [ 0.22217613],
         [-1.05634028]],

        [[ 1.57527365],
         [ 0.05140942],
         [-0.70540164]],

        [[ 0.19500596],
         [ 1.36315078],
         [ 0.47275635]],

        [[-0.43917389],
         [ 0.19088028],
         [-0.3544884 ]]]), array([[[-0.57346298],
         [-0.49037003],
         [ 0.69107093]],

        [[ 0.00890011],
         [ 2.1701087 ],
         [-0.36926689]],

        [[ 0.75044624],
         [-2.42522924],
         [ 0.19519823]],

        [[ 0.77645437],
         [ 0.42392494],
         [-2.11484579]],

        [[ 0.50369253],
         [-0.6580712 ],
         [-0.57820203]]]), array([[[ 1.21855522],
         [-1.33317966],
         [ 0.53354706]],

        [[ 1.69570359],
         [ 0.82174343],
         [-0.30886484]],

        [[ 1.00284803],
         [-0.59460313],
         [ 1.00901739]],

        [[ 0.09815269],
         [-1.32789403],
         [-1.06333181]],

        [[ 0.89380766],
         [-1.0862185 ],
         [-0.229764  ]]])]

# Array shape manipulation

### reshape
from: http://docs.scipy.org/doc/numpy/reference/generated/numpy.reshape.html#numpy.reshape

NOTE: This will be a new view object if possible; otherwise, it will be a copy.

In [114]:
my_start_array = np.array(np.arange(24))
my_start_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [115]:
my_start_array.shape

(24,)

In [117]:
new = my_start_array.reshape((3,8))
new

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23]])

In [118]:
new[0,0] = 222

In [119]:
my_start_array

array([222,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23])

In [120]:
ravel_array = new.ravel()

In [121]:
ravel_array

array([222,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23])

In [122]:
ravel_array.shape

(24,)

In [124]:
for n in new.flat:
    print(n)

222
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

# Rearranging Array Elements

In [125]:
my_start_array = np.array(np.arange(24))
my_3_8_array = my_start_array.reshape((3,8))
my_2_3_4_array = my_3_8_array.reshape((2,3,4))

### fliplr "flip left right"
from: http://docs.scipy.org/doc/numpy/reference/generated/numpy.fliplr.html#numpy.fliplr

Flip array in the left/right direction.

In [126]:
my_3_8_array

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23]])

In [127]:
np.fliplr(my_3_8_array)

array([[ 7,  6,  5,  4,  3,  2,  1,  0],
       [15, 14, 13, 12, 11, 10,  9,  8],
       [23, 22, 21, 20, 19, 18, 17, 16]])

In [130]:
my_2_3_4_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [129]:
np.fliplr(my_2_3_4_array)

array([[[ 8,  9, 10, 11],
        [ 4,  5,  6,  7],
        [ 0,  1,  2,  3]],

       [[20, 21, 22, 23],
        [16, 17, 18, 19],
        [12, 13, 14, 15]]])

In [131]:
np.flipud(my_3_8_array)

array([[16, 17, 18, 19, 20, 21, 22, 23],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [ 0,  1,  2,  3,  4,  5,  6,  7]])

In [132]:
np.flipud(my_2_3_4_array)

array([[[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

In [134]:
my_start_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [135]:
np.roll(my_start_array,5)

array([19, 20, 21, 22, 23,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11,
       12, 13, 14, 15, 16, 17, 18])

In [136]:
 np.roll(my_start_array,-5)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23,  0,  1,  2,  3,  4])

In [137]:
np.roll(my_2_3_4_array,4)

array([[[20, 21, 22, 23],
        [ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15],
        [16, 17, 18, 19]]])

In [138]:
np.roll(my_2_3_4_array,-4)

array([[[ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [ 0,  1,  2,  3]]])

In [140]:
my_3_8_array

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23]])

In [141]:
    np.rot90(my_3_8_array)

array([[ 7, 15, 23],
       [ 6, 14, 22],
       [ 5, 13, 21],
       [ 4, 12, 20],
       [ 3, 11, 19],
       [ 2, 10, 18],
       [ 1,  9, 17],
       [ 0,  8, 16]])

In [142]:
np.rot90(my_3_8_array,k=-1)

array([[16,  8,  0],
       [17,  9,  1],
       [18, 10,  2],
       [19, 11,  3],
       [20, 12,  4],
       [21, 13,  5],
       [22, 14,  6],
       [23, 15,  7]])

# Transpose Like Operations

In [143]:
my_start_array = np.array(np.arange(24))
my_3_8_array = my_start_array.reshape((3,8))
my_2_3_4_array = my_3_8_array.reshape((2,3,4))

In [144]:
my_start_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [145]:
np.transpose(my_start_array)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [146]:
my_3_8_array

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23]])

In [147]:
np.transpose(my_3_8_array)

array([[ 0,  8, 16],
       [ 1,  9, 17],
       [ 2, 10, 18],
       [ 3, 11, 19],
       [ 4, 12, 20],
       [ 5, 13, 21],
       [ 6, 14, 22],
       [ 7, 15, 23]])

In [148]:
my_2_3_4_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [150]:
np.transpose(my_2_3_4_array,axes=(0,2,1))

array([[[ 0,  4,  8],
        [ 1,  5,  9],
        [ 2,  6, 10],
        [ 3,  7, 11]],

       [[12, 16, 20],
        [13, 17, 21],
        [14, 18, 22],
        [15, 19, 23]]])

In [154]:
np.transpose(my_2_3_4_array,axes=(0,1,2))

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [157]:
np.swapaxes(my_2_3_4_array,axis1=0,axis2=2)

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

In [158]:
np.rollaxis(my_2_3_4_array,0,2)

array([[[ 0,  1,  2,  3],
        [12, 13, 14, 15]],

       [[ 4,  5,  6,  7],
        [16, 17, 18, 19]],

       [[ 8,  9, 10, 11],
        [20, 21, 22, 23]]])

### swapaxes
from: http://docs.scipy.org/doc/numpy/reference/generated/numpy.swapaxes.html#numpy.swapaxes

##### returns
For Numpy >= 1.10, if a is an ndarray, then a view of a is returned; otherwise a new array is created. For earlier Numpy versions a view of a is returned only if the order of the axes is changed, otherwise the input array is returned.

##### Summary; from: http://stackoverflow.com/questions/15483156/generalizing-matrix-transpose-in-numpy

- Use np.transpose to permute all the axes at once. (Thanks to @jorgeca for pointing this out.)
- Use np.swapaxes to swap any two axes.
- Use np.rollaxis to "rotate" the axes.

# Tiling Areas

In [160]:
my_start_array = np.array(np.arange(12))
my_start_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

### tile
from: http://docs.scipy.org/doc/numpy/reference/generated/numpy.tile.html#numpy.tile

Construct an array by repeating A the number of times given by reps.

If reps has length d, the result will have dimension of max(d, A.ndim).

If A.ndim < d, A is promoted to be d-dimensional by prepending new axes. So a shape (3,) array is promoted to (1, 3) for 2-D replication, or shape (1, 1, 3) for 3-D replication. If this is not the desired behavior, promote A to d-dimensions manually before calling this function.

If A.ndim > d, reps is promoted to A.ndim by pre-pending 1s to it. Thus for an A of shape (2, 3, 4, 5), a reps of (2, 2) is treated as (1, 1, 2, 2).

In [161]:
np.tile(my_start_array, 3)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11,  0,  1,  2,  3,  4,
        5,  6,  7,  8,  9, 10, 11,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       10, 11])

In [162]:
np.tile(my_start_array, 3).reshape((3,12))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]])

In [163]:
my_second_array = np.array(np.arange(7))

In [164]:
tile1 = np.tile(my_second_array,(3,1))
tile1

array([[0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6]])

In [166]:
tile2 = np.tile(tile1,(2,2))
tile2

array([[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]])

In [167]:
tile3 = np.tile(tile2,(3,1))
tile3

array([[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6],
       [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]])

In [168]:
np.repeat(my_second_array,3)

array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6])

In [169]:
my_repeatable_array = np.array(np.arange(24)).reshape(2,3,4)
my_repeatable_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [171]:
np.repeat(my_repeatable_array,2,axis=0)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [172]:
np.repeat(my_repeatable_array,2,axis=1)

array([[[ 0,  1,  2,  3],
        [ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [12, 13, 14, 15],
        [16, 17, 18, 19],
        [16, 17, 18, 19],
        [20, 21, 22, 23],
        [20, 21, 22, 23]]])

In [173]:
np.repeat(my_repeatable_array,2,axis=2)

array([[[ 0,  0,  1,  1,  2,  2,  3,  3],
        [ 4,  4,  5,  5,  6,  6,  7,  7],
        [ 8,  8,  9,  9, 10, 10, 11, 11]],

       [[12, 12, 13, 13, 14, 14, 15, 15],
        [16, 16, 17, 17, 18, 18, 19, 19],
        [20, 20, 21, 21, 22, 22, 23, 23]]])