# Exploring Pandas

In [7]:
import pandas as pd

In [11]:
#reading a csv file
customer_data = pd.read_csv('CUSTOMER_DATA.csv',encoding = "ISO-8859-1")

In [12]:
customer_data.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [13]:
customer_data.tail()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

In [15]:
customer_data.shape

(91, 7)

In [20]:
#using iloc selecting first five rows and all columns
customer_data.iloc[0:5,:]

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [25]:
#using iloc selecting first five rows and first and second columns
customer_data.iloc[0:5,0:2]

  CustomerID                         CustomerName
0          1                  Alfreds Futterkiste
1         2   Ana Trujillo Emparedados y helados
2         3              Antonio Moreno Taquería
3         4                      Around the Horn
4         5                   Berglunds snabbköp

In [28]:
customer_data.loc[0:5,["CustomerID","CustomerName"]]

  CustomerID                         CustomerName
0          1                  Alfreds Futterkiste
1         2   Ana Trujillo Emparedados y helados
2         3              Antonio Moreno Taquería
3         4                      Around the Horn
4         5                   Berglunds snabbköp
5         6              Blauer See Delikatessen

In [31]:
customer_data[["CustomerID","CustomerName"]]

   CustomerID                           CustomerName
0           1                    Alfreds Futterkiste
1          2     Ana Trujillo Emparedados y helados
2          3                Antonio Moreno Taquería
3          4                        Around the Horn
4          5                     Berglunds snabbköp
5          6                Blauer See Delikatessen
6          7                   Blondel père et fils
7          8              Bólido Comidas preparadas
8          9                               Bon app'
9         10                 Bottom-Dollar Marketse
10        11                          B's Beverages
11        12             Cactus Comidas para llevar
12        13             Centro comercial Moctezuma
13        14                      Chop-suey Chinese
14        15                       Comércio Mineiro
15        16                  Consolidated Holdings
16        17              Drachenblut Delikatessend
17        18                        Du monde entier
18        19                     Eastern Connection
19        20                           Ernst Handel
20        21                     Familia Arquibaldo
21        22   FISSA Fabrica Inter. Salchichas S.A.
22        23                      Folies gourmandes
23        24                         Folk och fä HB
24        25                         Frankenversand
25        26                    France restauration
26        27                         Franchi S.p.A.
27        28         Furia Bacalhau e Frutos do Mar
28        29                 Galería del gastrónomo
29        30                    Godos Cocina Típica
..        ...                                    ...
61        62                          Queen Cozinha
62        63                             QUICK-Stop
63        64                          Rancho grande
64        65             Rattlesnake Canyon Grocery
65        66                     Reggiani Caseifici
66        67                     Ricardo Adocicados
67        68                     Richter Supermarkt
68        69                       Romero y tomillo
69        70                          Santé Gourmet
70        71                     Save-a-lot Markets
71        72                     Seven Seas Imports
72        73                          Simons bistro
73        74                   Spécialités du monde
74        75                  Split Rail Beer & Ale
75        76                       Suprêmes délices
76        77                         The Big Cheese
77        78                        The Cracker Box
78        79                     Toms Spezialitäten
79        80                    Tortuga Restaurante
80        81                 Tradição Hipermercados
81        82      Trail's Head Gourmet Provisioners
82        83                           Vaffeljernet
83        84                   Victuailles en stock
84        85              Vins et alcools Chevalier
85        86                      Die Wandernde Kuh
86        87                         Wartian Herkku
87        88                 Wellington Importadora
88        89                   White Clover Markets
89        90                            Wilman Kala
90        91                                 Wolski

[91 rows x 2 columns]

In [34]:
type(customer_data["Country"])

pandas.core.series.Series

In [35]:
frame = pd.DataFrame(
    [
        [1,2],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ],
    index=["row1", "row2"],
    columns=["column1", "column2"]
)
frame

            column1            column2
row1              1                  2
row2  Boris Yeltsin  Mikhail Gorbachev

In [36]:
customer_data["Country"].head()

0    Germany
1     Mexico
2     Mexico
3         UK
4     Sweden
Name: Country, dtype: object

In [39]:
customer_data["CustomerID"].count()
# min max mean median std corr

91